<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neetu's Blog</title>
</head>
<body>
    <div>
        <title>Django Learning</title>
    </div>
    <div>
        <p>published: 25\03\2017, 2:01</p>
        <h2><a href="">My First Blog</a></h2>
        <p>It is first bolg of my first project that I am uplaoding on git while working on it.</p>
    </div>
    <div>
        <p>published: 25\03\2017, 2:01</p>
        <h2><a href="">My Second Blog</a></h2>
        <p>It is second bolg of my first project that I am uplaoding on git while working on it.</p>
    </div>
</body>
</html>